# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pickle
.cache/
.pytest_cache/
.python-version
*.db
*.wav
voice_clone_test.py
# Virtual environment
venv/

# MacOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Audio/Temp
*.wav
*.mp3
*.m4a
*.opus
*.ogg
*.tmp

# Env
.env

# Audio/Temp inside voices only
voices/*.wav
voices/*.mp3
voices/*.m4a
voices/*.opus
voices/*.ogg
voices/*.tmp